@import url("../../stylesheets/cwpy_help.css");

h1 {
	background-color: #eee;
	border-color: #000;
	color: #222;
}

h2 {
	background-color: #fff;
	color: #000;
}

p.screenshot {
	border-color: #eee;
}

a {
	color: #fff;
}

body {
	border-color: #fff;
	background-color: #222;
	color: #eee;
}

ul.navigation {
	border-color: #fff;
	background-color: #222;
}
