* {
	background: transparent;
	border: thin none;
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: inherit;
	text-decoration: inherit;
}
h1, h2, h3, h4, h5, h6, h7, p, dl, dt, dd, pre, ul, ol {
	display: block;
}
h1, h2, h3, h4, h5, h6, h7 {
	font-weight: bold;
}

rt {
	font-size: 0.5em;
}

h1 {
	font-size: 2em;
	text-align: center;
	margin: 0 0 0.4em 0;
	padding: 0.2em;
	background-color: #f98;
	border-top: solid #c54 medium;
	border-bottom: solid #c54 medium;
	color: #400;
}

h2 {
	font-size: 1.5em;
	margin: 1.3em 0 0.7em 0;
	padding: 0.4em 0.2em 0.4em 0.5em;
	background-color: #f98;
	color: #400;
}

h1 + h2 {
	margin-top: 0.7em;
}

h3 {
	font-size: 1.5em;
	margin: 1em 0 0.25em 0;
	padding: 0 0.2em 0.1em 0.5em;
	border-bottom: solid #f98 thick;
	color: #400;
}

h4 {
	font-size: 1.4em;
	margin: 1em 0 0.25em 0;
	padding: 0 0.2em 0.1em 0.5em;
	border-bottom: dotted #f98 medium;
	color: #400;
}

h2 + h3 {
	margin-top: 0.7em;
}

p {
	margin: 0.5em 1% 0.5em 1%;
	line-height: 1.5em;
}

div.note {
	font-size: 0.9em;
	line-height: 1.2em;
	margin: 0.8em 0 0.8em 5%;
	border-top: solid #fcb thin;
	border-left: solid #fcb thin;
	border-bottom: solid #fcb thin;
	background-color: #fffcfa;
	padding-top: 0.4em;
	padding-left: 1em;
	padding-bottom: 0.4em;
	color: #521;
	background-image: url("../images/note.png");
	background-repeat: no-repeat;
}

div.caution {
	font-size: 0.9em;
	line-height: 1.2em;
	margin: 0.8em 2% 0.8em 2%;
	border: dashed #f98 medium;
	background-color: #fff4f2;
	padding: 0.4em 0.8em;
	color: #610;
	background-image: url("../images/caution.png");
	background-repeat: no-repeat;
	background-position: center;
}

p.screenshot {
	text-align: center;
	margin: 0.8em 0;
	padding: 0.8em 1%;
	border-top: dotted #fdc thin;
	border-bottom: dotted #fdc thin;
}

.button {
	border: solid #988 thin;
	border-radius: 5%;
	background-color: #eee;
	padding: 0.1em;
}
.invisible {
	display: none;
}

li {
	display: list-item;
}

ul.navigation {
	text-align: right;
	border-top: solid #faa thin;
	background-color: #fffcfc;
	position: fixed;
	padding: 0.3em 0;
	margin: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

ul.navigation li {
	display: inline;
	margin: 0.3em;
	line-height: 1em;
}

ul.navigation li#toc {
	display: block;
	float: left;
	margin: 0.3em 0.3em 0.3em 0.5em;
}

a {
	color: #d53;
	text-decoration: underline;
}

a ruby {
	text-decoration: none;
}

span, kbd, code, var, samp {
	display: inline;
}

kbd, code, var, samp {
	font-family: monospace;
}

code {
	background-color: #fdd;
	padding: 0.2em 0.3em;
}

samp {
	padding: 0.1em 0.2em;
	margin: 0 0.1em;
	border: dotted #faa thin;
}

kbd {
	background-color: #fee;
	padding: 0.1em 0.2em;
}

.tip, abbr {
	border-bottom: dashed #b32 thin;
}

body {
	border-width: 0;
	border-style: solid;
	border-color: #f98;
	background-color: #fffcfc;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	color: #533;
	padding-top: 1%;
	padding-bottom: 2.5em;
}

dl {
	margin: 1em 0;
}
dt {
	width: 20em;
	padding: 0.3em 0.8em 0.3em 1em;
	background-color: #fdc;
}
dt.longname {
	width: 35em;
}
dd {
	padding: 0.4em 0.5em;
	margin-left: 4em;
	border-bottom: solid #fdc thin;
	border-left: solid #fdc medium;
}
dd + dt {
	margin-top: 0.2em;
}

dt.screenshot {
	width: 400px;
	padding: 0.1em 1em;
	text-align: left;
	background-color: #fffcfa;
	border-top: solid #fdc thin;
	border-right: solid #fdc thin;
	border-bottom: solid #fdc medium;
}

dd + dt.screenshot {
	margin-top: 0.5em;
}

dt + dt {
	margin-top: 0.15em;
}

hr {
	border: dashed #fcb thin;
}

cite {
	font-style: normal;
}

ul, ol {
	margin: 1em 1%;
}

ul li {
	list-style-type: circle;
	margin-left: 2em;
	line-height: 1.5em;
}

ol li {
	list-style-type: decimal;
	margin-left: 2em;
	line-height: 1.5em;
}

body.table_of_contents {
	padding-bottom: 1%;
}

ol#TABLE_OF_CONTENTS {
	margin: 0;
	padding: 0.5em 0 0.5em 0.5em;
}

ol#TABLE_OF_CONTENTS ol {
	margin: 0;
	padding: 0.5em;
}

ol#TABLE_OF_CONTENTS > li + li {
	border-top: solid #fcc thick;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

ol#TABLE_OF_CONTENTS ol li {
	list-style-type: lower-roman;
}
